<h1>Appointments#new</h1>

<%= form_with model: @appoint, local: true do |f| %>
<p>Date: <%=f.date_field :appointment_date, value: Time.now.to_date %> </p>


<%# if @appoint %>
	
<%# else %>
<p>Patient Name: <%= f.select(:patient_id, Patient.all.collect {|a| [a.name, a.id]},include_blank: true) %>  </p>
<%# end%>



<p>Physician: <%= f.select(:physician_id, Physician.all.collect {|p| [p.name, p.id]},include_blank: true) %> </p>
<p> <%= f.submit%> </p>
<%end%>